<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="newart()">Nouveau</ion-button>
    </ion-buttons>
    
    <ion-title>MiniBlog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list  [inset]="true">

  <ion-item *ngFor="let item of Articles" (click)="MonClick(item)" [button]="true">
    <ion-avatar slot="start">
      <img [src]="item.image">
    </ion-avatar>
    <ion-label>
      <h1>{{item.title}}</h1>
    </ion-label>
  </ion-item>
</ion-list>


</ion-content>
